<% provide(:title, "Ingredients") %>

<p id="notice"><%= notice %></p>

 <div id="ingredientsContainer">
  
  <h1>Ingredients</h1>
  
 <% form_tag do %>

 <table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% for ingredient in @ingredients %>
    <tr>
      <td><%= check_box_tag "ingredient_ids[]", ingredient.id %></td>
      <td><%= ingredient.title %></td>
      <td><%= link_to "Edit", edit_ingredient_path(ingredient) %></td>
      <td><%= link_to "Destroy", ingredient_path(ingredient), :confirm => "Are you sure?", :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
 </table>
 <%= submit_tag "Add to Cupboard" %>
 <% end %>


  <a href="/cupboard" class= "button"> Add to Cupboard</a> 
</div>

<br>
<%= link_to 'New Ingredient',  new_ingredient_path, :class => "button", :role => "button" %>

